extends layout

block content
  main.container
    .row
      .col-md-6.col-md-offset-3
      h1.display-4.m-b-2.text-center Datos
      ul
        each val, index in datos
          li= val.nombre
          li= val.vendedor
          li= val.precio